body{
  background-image: url(../assets/fondo.jpg);
  background-repeat: repeat-x;
  background-size:cover;
  background-position:top;
  height:100%;
  width: 100%;
  margin: 0;
}

  .información{
    background:rgba(0,0,0,0.6);
    color:white;
    padding: 1em 0 1em 0;
  }
